.ProseMirror {
  & .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #94a2ae;
    pointer-events: none;
    height: 0;
  }
  & .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #94a2ae;
    pointer-events: none;
    height: 0;
  }

  h1 {
    color: #375375;
    @apply text-4xl font-bold mb-8;
  }

  h2 {
    color: #375375;
    @apply text-2xl font-bold mb-5;
  }

  h3 {
    color: #375375;
    @apply text-lg font-bold mb-3;
  }

  ul,
  ol {
    @apply mb-5;
    & > li {
      @apply mb-2 last:mb-0;
    }
  }

  ul > li {
    @apply relative pl-5;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: currentColor;
      // 多行定位时需要定位在第一行垂直居中位置
      position: absolute;
      left: 0;
      top: calc(0.5em + 1px);
      background-size: cover;
    }
  }

  ol {
    counter-reset: li;
    & > li {
      @apply relative pl-5;

      &::before {
        content: counter(li) '.';
        counter-increment: li;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  & > p {
    @apply mb-3;
  }

  blockquote {
    line-height: 26px;
    padding-left: 12px;
    position: relative;
    &::after {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(194, 193, 197, 1);
      border-radius: 4px;
    }
  }
}




// div[data-drag-handle] {
//   position: absolute;
//   z-index: 100;
//   display: inline;
//   width: 16px;
//   height: 16px;
//   cursor: pointer;
//   background-color: #fff;
//   opacity: 0;
//   transition: opacity 0.3s ease-out;
//   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='1' width='3' height='3' rx='1.5' fill='%23111'/%3E%3Crect x='10' y='1' width='3' height='3' rx='1.5' fill='%23111'/%3E%3Crect x='3' y='6' width='3' height='3' rx='1.5' fill='%23111'/%3E%3Crect x='10' y='6' width='3' height='3' rx='1.5' fill='%23111'/%3E%3Crect x='3' y='11' width='3' height='3' rx='1.5' fill='%23111'/%3E%3Crect x='10' y='11' width='3' height='3' rx='1.5' fill='%23111'/%3E%3C/svg%3E");
//   background-size: contain;
//   background-position: center 0;
//   background-repeat: no-repeat;

//   &.show {
//     opacity: 0.3;

//     &:hover {
//       opacity: 1;
//     }
//   }

//   &.hide {
//     opacity: 0;
//   }
// }